* {
    font-family: "Courier New";
}

body {
    background-color: rgba(6, 2, 11, 0.87);
}

header {
    line-height: 0.7;
    margin-top: 5px;
}

a {
    color: white;
}

a:hover {
    text-decoration: none;
    color: #e7c8ff;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    background-color: rgba(155, 126, 128, 0.95);
}

.col-md-auto {
    margin-top: 20px;
}

.dropdown-menu {
    background-color: rgba(155, 126, 128, 0.95);
}

.dropdown-item {
    color: white;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #e7c8ff;
    background-color: transparent;
}

hr {
    height: 2px;
    border: none;
    background: radial-gradient(#7d7d7d, rgba(6, 2, 11, 0.87));
}

.carousel-caption {
    background-color: rgba(155, 126, 128, .7);
}

.copyright {
    font-size: .7em;
    color: white;
}

.dropdown-item.active {
    background-color: rgba(6, 2, 11, 0.87);
    color: #6c757d;
    cursor: unset;
}

.breadcrumb {
    background-color: unset;
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 1.5rem;
}

.breadcrumb-item + .breadcrumb-item::before {
    padding-right: 1.5rem;
    content: "|";
}